body {
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
    font-family:Arial;
}

.clock {
    background:#1e293b;
    padding:40px 60px;
    border-radius:15px;
    font-size:48px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}
